.CourseCard {
    img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .name {
        font-weight: 700;
        font-size: 1.1em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-block: 10px 5px;
    }

    .author {
        font-size: 0.8em;
        margin-bottom: 5px;
    }
}
