main {
    background-color: var(--bg-L1-color);
    color: var(--txt-L1-color);
    width: 100svw;
    height: 100svh;
    transition: 0.3s all ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-L2-color);
    --br-radius: 30px;
    border-radius: var(--br-radius) var(--br-radius) 0 0;
    overflow: hidden;
    height: 90svh;

    & > * {
        width: 100%;
    }
    .inner {
        padding-inline: var(--container-pad);
        padding-bottom: 3svh;
        height: 100%;
        overflow-y: auto;
        color: var(--txt-L2-color);
        background-color: var(--bg-L2-color);

        & > section {
            animation: drop 1s ease-in-out;
        }
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        pointer-events: none;
        position: relative;
        top: -30%;
    }

    70% {
        top: 0%;
    }

    80% {
        top: 5%;
    }

    90% {
        top: -5%;
    }

    100% {
        opacity: 1;
        position: relative;
        pointer-events: none;
        top: 0%;
    }
}
