main {
    background-color: var(--bg-L1-color);
    color: var(--txt-L1-color);
    width: 100svw;
    height: 100svh;
    transition: 0.3s all ease-in-out;
}

.content {
    background-color: var(--bg-L2-color);
    --br-radius: 30px;
    border-radius: var(--br-radius) var(--br-radius) 0 0;
    padding: 20px 5px 5px;
    overflow: hidden;
    height: 90svh;

    .inner {
        padding: 20px;
        padding-inline: var(--container-pad);
        height: 100%;
        overflow-y: auto;
        color: var(--txt-L2-color);

        & > section {
            animation: drop 2s ease-in-out;
        }
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        pointer-events: none;
        position: relative;
        top: -30%;
    }

    80% {
        top: 0%;
    }

    90% {
        top: 5%;
    }

    95% {
        top: -5%;
    }

    100% {
        opacity: 1;
        position: relative;
        pointer-events: none;
        top: 0%;
    }
}
